*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{

    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 20px 40px;
}

h1{
    width: 100%;
    text-align: center;
}
div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 20px 40px;
}

